/* GENERAL */

.about {
  width: 100vw;
  background: #00467f;
  background-image: linear-gradient(
      to right,
      rgba(20, 30, 48, 0.9),
      rgba(36, 59, 85, 0.9)
    ),
    url(../Images/about-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.about_wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.about-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  width: 400px; 
  text-align: center;
  margin: auto;
}

.about-desc-para {
  display: inline-block;
  width: fit-content;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
}

/* SKILLS */

.skills {
  color: #f2f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  &__header {
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    display: block;
  }
  &__new-icons {
    display: flex;
    font-size: 50px;
    width: 700px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin-top: 30px;
    transform: translateY(370px);
  }

}

.staggering {
  flex-basis: calc(100% / 8);
  padding: 0px 0 20px 0;
}

/* ANIME.JS H1 ANIMATION */

.ml14 {
  font-weight: 900;
  font-size: 4rem;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 640px) {
 
  .about-desc {
    width: 100%; 
  }
  .about__header {
    padding: 10px;
    line-height: 2;
  }
  .ml14 {
    font-size: 3rem;
  }
  .about__content {
    line-height: 2;
  }
  .skills__header {
    margin: auto;
    padding-top: 5px;
  }
  
  .skills {
    margin-top: 50px;
    &__new-icons {
      font-size: 40px;
      padding: 20px 20px;
      width: 100%;
    }
  }
  .staggering {
    flex-basis: calc(100% / 6);
    padding: 0px 0 20px 0;
  }
}


