.about {
  height: 100vh;
  width: 100%;
  background: #00467f;
  background-image: linear-gradient(to right,
      rgba(20, 30, 48, 0.9),
      rgba(36, 59, 85, 0.9)),
    url(../Images/about-img-gen.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.about-desc {
  color: white;
  font-size: 18px;
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between
}

.menu {
  list-style: none;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;

  &__link {
    text-decoration: none;
    color: #ddd;
    padding: 20px;
  }

  &__content {
    color: #ccc;
    max-width: 500px;
    line-height: 2.5;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
}

.skills {
  color: #f2f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;

  &__header {
    color: #0099cc;
    text-align: center;
    padding-top: 20px;
    display: block;
  }
  &__icons {
    display: flex;
    font-size: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 500px;
    transform: translateY(370px)
  }
}


/* ANIME.JS H1 ANIMATION */

.ml14 {
  font-weight: 900;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
  .about__header {
    padding: 10px;
    line-height: 2;
  }

  .about__content {
    line-height: 2;
  }

  .skills__header {
    margin: auto;
    padding-top: 5px;
  }

  .nav {
    padding: 5px;
  }

  .skills__icons {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
  .menu {
    justify-content: space-evenly;
  }
}