.contact {
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    color: #eee;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  .contact__icon {
    color: #eee;
    font-size: 40px;
    padding: 0 12px;
  }
  